@font-face {
  font-family: 'Brandon Text';
  font-weight: 400;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_7_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_7_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_7_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 400;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_6_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_6_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_6_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 700;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_1_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_1_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_1_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 700;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_0_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_0_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_0_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 100;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_A_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_A_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_A_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 100;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_9_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_9_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_9_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 200;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_5_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_5_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_5_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 200;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_4_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_4_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_4_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 500;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_8_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_8_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_8_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 500;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_B_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_B_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_B_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 900;
  font-style: normal;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_3_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_3_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_3_0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Brandon Text';
  font-weight: 900;
  font-style: italic;
  src: url('https://mysugr-elements.com/brandon-text/27B61A_2_0.eot?#iefix')
      format('embedded-opentype'),
    url('https://mysugr-elements.com/brandon-text/27B61A_2_0.woff')
      format('woff'),
    url('https://mysugr-elements.com/brandon-text/27B61A_2_0.ttf')
      format('truetype');
}

/* Hack for Android 4.4 and Outlook font usage */
[style*='Brandon Text'] {
  font-family: 'Brandon Text', Helvetica, Arial, sans-serif !important;
}
